.App {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
.App-alert {
  width: 90vw
}

@media only screen and (min-width: 600px) {
  .App-alert {
    width: 70vw
  } 
}
@media only screen and (min-width: 1024px) {
  .App-alert {
    width: 50vw
  } 
}

.jumbotron {
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
}

@media only screen and (min-width: 800px) {
  .jumbotron {
    width: 90vw;
  }
}
@media only screen and (min-width: 1024px) {
  .jumbotron {
    width: 75vw;
  }
}
@media only screen and (max-width: 600px) {
  .jumbotron {
    margin-bottom: 0;
  }
}

